<h1><%= @user.name.capitalize %>'s Profile</h1>
<% if @user == current_user  %>
    <h1>BANKROLL: $<%= @user.bankroll%></h1>
<% end %>

<%#= link_to "Add to Bankroll"."#" %>
<%#= link_to "Register for Tournament"."#" %>
<%#= link_to "Register for CashGame"."#" %>


<!-- Create tabs to search days -->
<h3>Today's Scedule: </h3>

<%= render partial: 'tournaments/tournaments', locals: { tournaments: @tournaments} %>

<%= render partial: 'cash_games/cash_games', locals: {cash_games: @cash_games}  %>