<h2 style="text-align:center">
    Tournaments:
</h2>
<table style="width:100%">
  <tr style="center">
    <th>Tournament</th>
    <th>Buy In</th>
    <th>Players</th>
    <th>Total Won:</th>
  </tr>
  <% tournaments.each do |tourney| %>
  <tr style="text-align:center">
    <td>
        <%= link_to tourney.name, tournament_path(tourney) %>
    </td>
    
    <td>
       <% cost = tourney.buy_in %>
       $<%= cost %>
    </td>

    <td>
      <%= tourney.users.length %>
    </td>

    <td>
      <%= Tracker.won_total(current_user, tourney) %>
    </td>
  </tr>
  <% end %>
</table>